#movie-table-container {
  margin-top: 2.5em;
}
#error-message {
  color: red;
  text-align: center;
  margin-top: 2.5em;
}
#currentUser {
  margin-top: 2em;
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
}