#signInButton {
  margin-top: .5em;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#registerLink {
  font-size: 1em;
  padding: 1em;
  height: 3em;
  width: 18.7em;
  font-weight: 450;
  margin-top: .5em;
}
#pleaseHelpPoor {
  font-size: 3em;
  font-family: cursive;
}
.form-signin {
  width: 18.7em;
  margin-top: 5em;
}
.homeContainer.container {
  width: 100%;
}
.homeContainer {
  width: 100%;
}
.custom-select {
  width: 15%;
  margin-left: .5em;
  margin-right: 8em;
}
.fmButtons {
  margin-left: 2em;
  height: 3%;
  width: 5%;
  margin-top: .5em;
  margin-bottom:  1em;
}
.welcomeHeading {
  margin-bottom: 1em;
  text-align: center;
}
#error-message {
  color: red;
  margin-top: 2em;
}
#collapseForm {
 margin-top: 2em;
 margin-left: 35%;
}
.newReimbForm {
  margin-bottom: .5em;
}
#newReimbButton {
  margin-left: 15%; 
  margin-bottom: 1em;
  width: 70%
}
.registerForm {
  margin-top: 4em;
}

